#ignore compiled binary files
/waterslide
/waterslide-parallel
/wsalias
/wsman
/src/util/waterslide
/src/util/waterslide-parallel
/src/util/wsalias
/src/util/wsman
/src/procs/*.ws_so
/src/procs/*.wsp_so

/src/lib/*.o
/src/lib/graph.lex.cc
/src/lib/graph.tab.cc
/src/lib/graph.tab.hh
/src/lib/wscalc.c
/src/lib/wscalc.tab.c
/src/lib/wscalc.tab.h
/src/lib/libwaterslide*.a

/procs/*.ws_so
/procs/*.wsp_so
/procs/.wsalias

/src/datatypes/*.ws_so
/src/datatypes/*.wsp_so
/src/procs/protobuf/*.pb.cc
/src/procs/protobuf/*.pb.h
/lib/

/src/pkg/hwlocBuildDir/
/src/pkg/pbtemp/
/src/pkg/re2temp/

.*.swp
